<div class="container" >

  <h1><%= @restaurant.name %></h1>
  <img src="<%= @restaurant.image_url %>">
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Cuisine: <%= @restaurant.cuisine %></h3>
  <hr>
  <br>

  <% @reviews.each do |review| %>
    <h1><%= review.reviewer.name %></h1>

  <% end %>




</div>
