<div class="container" >

  <h1><%= @restaurant.name %></h1>
  <img src="<%= @restaurant.image_url %>">
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Cuisine: <%= @restaurant.cuisine %></h3>
  <hr>
  <br>

  <% if @reviews %>
    <% @reviews.each do |review| %>
    <p><a href="/users/<%= review.reviewer.id %>"><%= review.reviewer.name %></a></p>
    <p><%= review.title %></p>
    <p><%= review.rating %> stars</p>
    <p><%= review.content %></p>
    <p><%= review.created_at.to_date %></p>
    <hr>
    <% end %>
  <% end %>
</div>
