<div class="container" >

  <h1><%= @city.name %> Restaurants:</h1>
  <hr>
  <br>

  <div class="restaurant_list">
    <ul>
    <% @city.restaurants.each do |restaurant| %>
      <li><a href="/cities/<%= @city.id %>/restaurant/<%=restaurant.id%>"><h2><%= restaurant.name %></h2></a># of reviews: <%= restaurant.reviewers.count %></li>
    <% end %>
    </ul>
  </div>

</div>
